<header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Welcome To My Pet</div>
          <div class="intro-heading text-uppercase">Join us!</div>
          <%= link_to "Start now", sittings_path, class: "btn btn-primary btn-xl text-uppercase js-scroll-trigger" %>
        </div>
      </div>
    </header>
