// Specific CSS for your home-page
.user_story_container {
  display: flex;
  justify-content: space-evenly;
<<<<<<< HEAD
  background-color: #f4f190;
=======
  background-color: white;
>>>>>>> 5f1c413d03148f39651312421716981558644dac
    height: 254px;

}
