body {
  margin-top:100px;
}
.owner-and-pet {
  display: flex;
  justify-content: space-around;
  align: center;
}
.sitting-description {
  margin-top: 50px;
}
.apply-to-sitting {
  margin-top:50px;
  display: flex;
  justify-content: center;
}
