body {
font-size: 15px;
}
.owner-and-pet {
  display: flex;
  justify-content: space-around;
  align: center;
  .show-owner {
    width: 450px;
  }
}
.sitting-description {
  margin-top: 15px;
}
.apply-to-sitting {
  margin-top:30px;
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
  display:inline-block;
  text-align:center;
  list-style-position:inside;
  margin-right: 40px;
  font-family: "bariol";

}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.text-center {
    text-align: center!important;
}
.mx-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}
.avatar-large {
  width: 100px;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid gray;
}

* {box-sizing:border-box}
.carousel {
    position: relative;
    margin-top: 70px;
}


/* The dots/bullets/indicators */
.carousel-indicators li.active {
  padding: 0;
  height: 10px;
  width: 10px;
}
.carousel-indicators li {
  cursor: pointer;
  padding: 0;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


