<div class="pets-index-header">
  <h1>All my pets</h1>
</div>

<div class="pets-index">
  <% @pets.each do |pet| %>
    <div class="show-pets"> <!-- ???change-class-name -->
      <div class="pet-image">
         <%#= image_tag pet.photo%>
      </div>
      <div class="pet-info"> <!-- ???change-class-name -->
        <ul>
        <li>name: <%= pet.name %></li>
        <li>species: <%= pet.species %></li>
        <li>info: <%= pet.info %></li>
      </div>
    </div>
  <% end %>
</div>
