<<<<<<< HEAD

<%= render 'components/banner' %>
<%= render 'components/icons' %>

=======
<%= render 'components/banner' %>
<div class="user_story_container">
</div>
>>>>>>> dc034279c3d7acffd5d380402ee11d279872f62f
