/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0px;
  text-align: center;
  color: white;
  padding: 9px;
  position: absolute;
  width: 100%;
  top: 69px;
}

.alert-info {
  background: #ffd802;
}
.alert-warning {
  background: $red;
}
