.container {
  width: 100%;
}


.card {
  color: black;
  position: relative;
  height: 320px;
  width: 400px;
  border-radius:5px;
  font-size: 12px;
  margin-top:50px;
  margin-right: 50px;
  background-color: #D3D3D3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
  background-color: #D8D8D8;
}

.owner {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0px;

}
.owner-name {
  border-bottom: 1px solid  #E8E8E8;
  padding: 10px;
}

.owner-address {
  margin-top: 25px;
  padding: 20px;
}
.pet {
  position: absolute;
  right: 0px;
  width: 50%;
  height: 100%;
  border-left: 1px solid  #E8E8E8;
}

.plus-pets {
//image of a plus
}

.sitting-period {
  position: absolute;
  height: 30px;
  width: 400px;
  border-top: 1px solid   #E8E8E8;
  bottom: 0px;
  left: 0px;
  font-weight: bolder;
}
.text-center {
  text-align: center;
}

.sitting-title,.sitting-dates {
  float: left;
  width: 50%;
  padding: 5px;
}
// .owner-name{
//   position: absolute;
// }
// .card-category {
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   font-size: 15px;
//   text-transform: uppercase;
// }
// .owner-address {
//   position: absolute;
//   bottom: 10px;
//   left: 10px;
// }
// .card-description h2 {
//   font-size: 24px;
// }
// .card-description p {
//   font-size: 14px;
//   opacity: 0.7;
//   font-weight: lighter;
// }
// .card-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   z-index: 2;
//   background: black;
//   opacity: 0;
// }
// .card-link:hover {
//   opacity: 0.1;
// }
