.container {
 width: 100%;
}
.card {
 color: black;
 position: relative;
 height: 350px;
 width: 350px;
 border-radius:5px;
 font-size: 16px;
 margin-top:50px;
 margin-right: 50px;
 background-color: white;
 text-decoration: none;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 &:hover {
   text-decoration: none;
 }
}.pet-name {
 text-decoration: none;
 margin-top: 10px;}
.image-class {
 border-radius: 8px;
}
.card:hover {
 -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
         box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
  text-decoration: none;
}
.sitting-period {
 text-decoration: none;
 margin-top: 5px;
}.owner-address {
 margin-top: 10px;
 padding: 10px;
}
.calender-icon {
 padding-right: 5px;
}

.pet {
  display: flex;
  justify-content: center;
}
.list-center {
    display: flex;
  justify-content: center;
}
